@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */

*,::after,::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Oswald', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
}


body{
    background-color: #FFF7F0;
}

hr {
    border: 1px solid;
    width: 50%;
    align-self: center;
    margin: 20px 0;
}

.article-img-overlay{
    position: absolute;
    z-index: 10;
    top:0;
    bottom:0;
    left: 0;
    right:0;
    background-color: #000;
    opacity: .4;
}

/* .article-img-overlay_text{

} */


.article-img-hover{
    transition: scale 400ms;
}

.article-img-hover:hover{
     scale: 1.25;
     border-radius: 3px;
}

/* ------------------------------------------------------------- */
.image{
    position: relative;
    cursor: pointer;
}


.image__img{
    display: block;
    width: 100%;
}

.image__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay:hover{
    opacity: 1;
    
}

.image__text{
    font-size: 1.8em;
}

textarea, input{
padding-top: 3px;
padding-left: 5px;
background-color: rgba(75, 85, 99);
border-radius: 3px;
}

.text-area-height{
    min-height: 8em;
}





@media (min-width: 640px){
    /* .img__max-width{
        max-width: 90vw;
        max-height: 30vh;
    } */
    
    .text__max-width{
        max-width: 90vw;
    }

    .margin{
        margin: 0 20vw ;
    }

    .max-width-60{
        max-width: 60vw;
      background-color: #fff;

    }

}




/* ----------------------markdown--------------------------------- */

.markdown {
    width: 90vw;
    overflow: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */

}

@media(min-width: 640px){

    .markdown{
        max-width: 60vw;
        background-color: #fff;
        padding: 0 2em;
    }

}



.markdown p{
    margin: .3em 0;

 
}

.markdown strong{
    /* color: lightgray; */
    font-weight: bold;
    font-size: .8em;
    margin: 0;
}

.markdown h2{
    font-size: 2em;
    font-weight: bold;
    line-height: 1em;
}
.markdown h4{
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1em;
}

.markdown pre{
    background-color: rgb(250, 237, 229);
  
    overflow: auto;
    margin: 2em 0;
}

.markdown code{

    color: rgba(0, 0, 0);
    font-size: 1em;
    line-height: .5em;
}

.markdown blockquote{
    border-left: 3px blue solid;
    padding-left: 10px;
    /* font-weight: bold; */
  
    color: rgb(85, 81, 81);
    font-size: 1.2em;
    margin: 1.5em 0;
}

.markdown img{
    width: 50vw;
    max-width: 30em;
}

.img__testing{
/* display: grid;
grid-template-columns: 1fr;
grid-gap: 1em; */
background-color: #fff;
display: flex;
flex-direction: column;
align-items: center;
flex-wrap: wrap;

-webkit-box-shadow: 8px 8px 24px -11px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 8px 24px -11px rgba(66, 68, 90, 1);
box-shadow: 8px 8px 24px -11px rgba(66, 68, 90, 1);
}

.img__testing img{
    object-fit: cover;
    border-radius: 3px;


}

.image__testing strong p{
    margin: 0;

}